/*---

RESET

---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---

GENERAL

---*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-family:'Open Sans', sans-serif;
}

a{
    text-decoration: none;  
}

.color-white{
    color: white;
    font-weight: bold;   
}


/*---

HEADER

---*/

header{
    background-color: #FF6900;
    
}

.my-row-head{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.logo-boolean{
    width: 100px;
}


/*---

MAIN

---*/

.img-style{
    width: 100%;
    
}

/*---

DEBUG

---*/

/* .debug header{
    background-color: #FF6900;
    
}

.debug .my-row-head{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
} */

.debug .my-row-products{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    
}

.debug .my-col-image-one{
    width: 34%;
    height: 600px;
    background-color: aqua;
    width: calc(34% - 10px);
    
}

.debug .my-col-image-two{
    width: 33%;
    height: 600px;
    background-color: rgb(47, 255, 0);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: calc(33% - 10px);
}

.debug .my-col-image-three{
    width: 33%;
    height: 600px;
    background-color: rgb(225, 92, 92);
    width: calc(33% - 10px);
}

.debug footer{
    background-color: #b8e051;
    padding: 10px;
    margin-top: 40px;
}

.debug .my-row-foot{
    display: flex;
    justify-content: space-between;
}